body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, black, #2e9071, black);
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100vh;
}

@media screen and (max-width: 768px) {
    body {
        flex-direction: column;
        align-items: center;
    }

    .estilo-imagen {
        margin-bottom: 0;
        text-align: center;
    }

    .introduccion {
        color: white;
        font-size: 25px;
        margin: 20px 0; /* Ajusta los márgenes */
        text-align: center;
        width: 100%;
        max-width: 600px;
    }

    .introduccion p {
        font-size: 14px;
        margin-top: 20px;
        width: 100%;
    }

    h1 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 30px;
        margin-top: 10px;
    }

    img {
        width: 100%;
        height: auto;
    }
}

.introduccion {
    color: white;
    font-size: 35px;
    margin-left: 250px;
    margin-bottom: 150px;
}

.introduccion p {
    font-size: 18px;
    margin-top: 90px;
}

.estilo-imagen {
    margin-left: 140px;
    margin-bottom: 150px;
}

img {
    width: 150%;
    height: 150%;
}
