.navbar {
    display: flex;
    justify-content: right;
    align-items: end;
    position: fixed;
    width: 100%; /* Ancho de izquierda a derecha */
    height: 40px;
    top: 0;
    left: 0;
    margin: 0;
    background-color: transparent;
    border: none; /* Quitar los bordes */
}

.navbar-list {
    list-style: none;
    display: fleX;
    margin: 0;
    padding: 0;
}

.navbar-item {
    margin: 0 30px;
}

.navbar-item a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar-item a:hover {
    color: gold; /* Cambio de color al pasar el cursor */
}
